/* Variables */
:root {
    /* colores */
    --Cprimario: rgb(128, 61, 59);
    --Cbody: #EEEEEE;
    --Coscuro: #000;
    --Cblanco: 	#FFFFFF;

    /* fuentes */
    --Fnav: "Roboto Condensed", sans-serif;
    --Fbody: "Zain", sans-serif;
    --Fcursiva: "Dancing Script", cursive;

}

/* Globales */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--Cbody);
}

a {
	text-decoration: none;
}


/*main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Nav */
.navbar {
    color: var(--Cblanco);
    font-family: var(--Fnav);
}


/* Mensaje de bienvenida */
.mensaje-bienvenida {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.icon-card {
    font-size: 70px;
}

/* Cards */


.row {
    gap: 10px;
}

.card {
    align-items: center;
    text-align: center;
}

/* footer */
.footer {
    text-align: center;
    margin-top: 20px;
    background-color: var(--Coscuro);
    color: var(--Cblanco);
    padding: 5px;
}

.d-flex {
    gap: 20px;
}

.icon-footer {
    font-size: 30px;
    color: var(--Cblanco);
}