@forward "../global.scss";

/* Main */
main {
    text-align: center;
    padding: 2rem 4rem;

    h2 {
        font-size: 2.5rem;
    }

    .p-1 {
        font-size: 2rem;
    }
}

.card h5{
    font-size: 2rem;
}

