@forward "../global.scss";

/*main*/
.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Carrusel */
.carousel {
    font-size: 1.5rem;
}

/* Mensaje de bienvenida */
.mensaje-bienvenida {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

}

/* Cards */

.icon-card {
    font-size: 7rem;
}

.row {
    gap: 1rem;
}

.card {
    align-items: center;
    text-align: center;

    p {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.5rem;
        &:hover {
            transform: scale(1.1);
        }
    }
}