@forward "../global.scss";

/* Main */
main {
    text-align: center;
    padding: 1rem 4rem;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .card {
        height: 35rem;
        width: 40rem;
    }
}

form {
    width: 90%;
    height: 100%;
}

