/* colores */
$Cprimario: rgb(128, 61, 59);
$Cbody: #EEEEEE;
$Coscuro: #000;
$Cblanco: #FFFFFF;

/* fuentes */
$Fnav: "Roboto Condensed", sans-serif;
$Fbody: "Zain", sans-serif;
$Fcursiva: "Dancing Script", cursive;